.DS_Store
.rvmrc
.yardoc
coverage
coverage.data
pkg
rdoc
.bundle
.idea
spec/fixtures/export
.rspec
.ruby-gemset
.ruby-version
Gemfile.lock
config/dev_console_env.rb
spec/fixtures/workspace/*/*/*/*/*/temp/
