*.gem
.DS_Store
.bundle
.idea
.rspec
.ruby-gemset
.ruby-version
.rvmrc
.yardoc
Gemfile.lock
config/certs/*
config/dev_console_env.rb
config/environments
coverage
coverage.data
workflow_service.log*
pkg
rdoc
spec/certs/*
spec/fixtures/assembly
spec/fixtures/export
spec/fixtures/workspace/*/*/*/*/*/temp/
spec/fixtures/workspace/.deletes
tmp.xml
