---
http_interactions:
- request:
    method: get
    uri: https://purl-test.stanford.edu/vs298kg2555.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"8adc73ee4a7f38c57d73604f96c2a4bd"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <publicObject id="druid:vs298kg2555" published="2015-02-05T11:09:34-08:00">
          <identityMetadata>
            <sourceId source="Revs">2011-023CHAM-1.0_0001</sourceId>
            <objectId>druid:vs298kg2555</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Le Mans, 1955 ; Mille Miglia 1956</objectLabel>
            <objectType>item</objectType>
            <adminPolicy>druid:qv648vd4392</adminPolicy>
            <otherId name="uuid">f36fcad6-955f-11e1-9027-0050569b52c6</otherId>
            <tag>Project : Revs</tag>
            <tag>Project : ReleaseSpecTesting : Batch1</tag>
            <release to="Kurita">true</release>
            <release to="Atago">false</release>
            <release to="Mogami">true</release>
          </identityMetadata>
          <contentMetadata objectId="vs298kg2555" type="image">
            <resource sequence="1" id="vs298kg2555_1" type="image">
              <label>Item 1</label>
              <file id="2011-023Cham-1.0_0001.jp2" mimetype="image/jp2" size="1965344">
                <imageData width="4004" height="2600"/>
              </file>
            </resource>
          </contentMetadata>
          <rightsMetadata>
            <copyright>
              <human type="copyright">Courtesy of Collier Collection. All rights reserved unless otherwise indicated.</human>
            </copyright>
            <access type="discover">
              <machine>
                <world/>
              </machine>
            </access>
            <access type="read">
              <machine>
                <group>stanford</group>
              </machine>
            </access>
            <use>
              <human type="useAndReproduction">Users must contact the The Revs Institute for Automobile Research for re-use and reproduction information.</human>
            </use>
          </rightsMetadata>
          <rdf:RDF xmlns:fedora="info:fedora/fedora-system:def/relations-external#" xmlns:fedora-model="info:fedora/fedora-system:def/model#" xmlns:hydra="http://projecthydra.org/ns/relations#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <rdf:Description rdf:about="info:fedora/druid:vs298kg2555">
              <fedora:isMemberOf rdf:resource="info:fedora/druid:wz243gf4151"/>
              <fedora:isMemberOf rdf:resource="info:fedora/druid:wz243gf4151"/>
              <fedora:isMemberOfCollection rdf:resource="info:fedora/druid:wz243gf4151"/>
            </rdf:Description>
          </rdf:RDF>
          <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:srw_dc="info:srw/schema/1/dc-schema" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
            <dc:type>StillImage</dc:type>
            <dc:type>digital image</dc:type>
            <dc:subject>Automobile--History</dc:subject>
            <dc:date>1955 , 1956</dc:date>
            <dc:title>Le Mans, 1955 ; Mille Miglia 1956</dc:title>
            <dc:identifier>2011-023CHAM-1.0_0001</dc:identifier>
            <dc:relation type="collection">The Marcus Chambers Collection of the Revs Institute</dc:relation>
          </oai_dc:dc>
          <ReleaseData>
            <release to="Kurita">true</release>
          </ReleaseData>
        </publicObject>
  recorded_at: Wed, 11 Mar 2015 21:11:09 GMT
recorded_with: VCR 2.9.3
