---
http_interactions:
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/describe?xml=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><fedoraRepository xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/ http://www.fedora.info/definitions/1/0/fedoraRepository.xsd"><repositoryName>Fedora
        Repository</repositoryName><repositoryBaseURL>https://localhost:443/fedora</repositoryBaseURL><repositoryVersion>3.6.2</repositoryVersion><repositoryPID>    <PID-namespaceIdentifier>changeme</PID-namespaceIdentifier>    <PID-delimiter>:</PID-delimiter>    <PID-sample>changeme:100</PID-sample>    <retainPID>*</retainPID></repositoryPID><repositoryOAI-identifier>    <OAI-namespaceIdentifier>example.org</OAI-namespaceIdentifier>    <OAI-delimiter>:</OAI-delimiter>    <OAI-sample>oai:example.org:changeme:100</OAI-sample></repositoryOAI-identifier><sampleSearch-URL>https://localhost:443/fedora/objects</sampleSearch-URL><sampleAccess-URL>https://localhost:443/fedora/objects/demo:5</sampleAccess-URL><sampleOAI-URL>https://localhost:443/fedora/oai?verb=Identify</sampleOAI-URL><adminEmail>bob@example.org</adminEmail><adminEmail>sally@example.org</adminEmail></fedoraRepository>
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="druid:bb004bn8654"
        ><objLabel>Bryar 250 Trans-American: July 9-10</objLabel><objOwnerId>preassembly@sul-lyberservices-prod.stanford.edu</objOwnerId><objModels><model>info:fedora/afmodel:Dor_Item</model><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2013-01-11T23:09:12.860Z</objCreateDate><objLastModDate>2015-01-06T23:40:22.589Z</objLastModDate><objDissIndexViewURL>https://localhost:443/fedora/objects/druid%3Abb004bn8654/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://localhost:443/fedora/objects/druid%3Abb004bn8654/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>'
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams  xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora-commons.org/definitions/1/0/listDatastreams.xsd" pid="druid:bb004bn8654"  baseURL="https://localhost:443/fedora/"
        >    <datastream dsid="DC" label="Dublin Core Record for this object" mimeType="text/xml"
        />    <datastream dsid="RELS-EXT" label="Fedora Object-to-Object Relationship
        Metadata" mimeType="application/rdf+xml" />    <datastream dsid="identityMetadata"
        label="Identity Metadata" mimeType="text/xml" />    <datastream dsid="workflows"
        label="Workflow" mimeType="application/xml" />    <datastream dsid="contentMetadata"
        label="Content Metadata" mimeType="text/xml" />    <datastream dsid="technicalMetadata"
        label="Technical Metadata" mimeType="text/xml" />    <datastream dsid="descMetadata"
        label="Descriptive Metadata" mimeType="text/xml" />    <datastream dsid="rightsMetadata"
        label="Rights Metadata" mimeType="text/xml" />    <datastream dsid="provenanceMetadata"
        label="Provenance Metadata" mimeType="text/xml" />    <datastream dsid="versionMetadata"
        label="Version Metadata" mimeType="text/xml" />    <datastream dsid="events"
        label="Events" mimeType="text/xml" />    <datastream dsid="embargoMetadata"
        label="Embargo metadata" mimeType="text/xml" /></objectDatastreams>
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/RELS-EXT?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="RELS-EXT" ><dsLabel>Fedora Object-to-Object Relationship Metadata</dsLabel><dsVersionID>RELS-EXT.1</dsVersionID><dsCreateDate>2013-01-11T23:09:17.690Z</dsCreateDate><dsState>A</dsState><dsMIME>application/rdf+xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>919</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+RELS-EXT+RELS-EXT.1</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Fedora Object-to-Object Relationship Metadata.rdf"
      Content-Type:
      - application/rdf+xml
    body:
      encoding: US-ASCII
      string: ! "\n<rdf:RDF xmlns:fedora=\"info:fedora/fedora-system:def/relations-external#\"
        xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\" xmlns:hydra=\"http://projecthydra.org/ns/relations#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n  <rdf:Description
        rdf:about=\"info:fedora/druid:bb004bn8654\">\n    <hydra:isGovernedBy rdf:resource=\"info:fedora/druid:qv648vd4392\"></hydra:isGovernedBy>\n
        \   <fedora-model:hasModel rdf:resource=\"info:fedora/afmodel:Dor_Item\"></fedora-model:hasModel>\n
        \   <fedora:isMemberOf rdf:resource=\"info:fedora/druid:kz071cg8658\"></fedora:isMemberOf>\n
        \   <fedora:isMemberOf rdf:resource=\"info:fedora/druid:nt028fd5773\"></fedora:isMemberOf>\n
        \   <fedora:isMemberOfCollection rdf:resource=\"info:fedora/druid:kz071cg8658\"></fedora:isMemberOfCollection>\n
        \   <fedora:isMemberOfCollection rdf:resource=\"info:fedora/druid:nt028fd5773\"></fedora:isMemberOfCollection>\n
        \ </rdf:Description>\n</rdf:RDF>\n"
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/workflows?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="workflows" ><dsLabel>Workflow</dsLabel><dsVersionID>workflows.19</dsVersionID><dsCreateDate>2014-12-08T22:58:20.118Z</dsCreateDate><dsState>A</dsState><dsMIME>application/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>E</dsControlGroup><dsSize>0</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:bb004bn8654/workflows</dsLocation><dsLocationType>URL</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
recorded_with: VCR 2.9.3
