---
http_interactions:
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:qv648vd4392?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="druid:qv648vd4392"
        ><objLabel>Revs Institute</objLabel><objOwnerId>DOR</objOwnerId><objModels><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2011-07-05T17:12:18.757Z</objCreateDate><objLastModDate>2013-07-24T19:00:57.027Z</objLastModDate><objDissIndexViewURL>https://localhost:443/fedora/objects/druid%3Aqv648vd4392/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://localhost:443/fedora/objects/druid%3Aqv648vd4392/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:qv648vd4392/datastreams?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams  xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora-commons.org/definitions/1/0/listDatastreams.xsd" pid="druid:qv648vd4392"  baseURL="https://localhost:443/fedora/"
        >    <datastream dsid="DC" label="Dublin Core Record for this object" mimeType="text/xml"
        />    <datastream dsid="RELS-EXT" label="RDF Statements about this object"
        mimeType="application/rdf+xml" />    <datastream dsid="administrativeMetadata"
        label="Administrative Metadata" mimeType="text/xml" />    <datastream dsid="identityMetadata"
        label="Identity Metadata" mimeType="text/xml" />    <datastream dsid="roleMetadata"
        label="Role Metadata" mimeType="text/xml" />    <datastream dsid="workflows"
        label="workflows" mimeType="application/xml" />    <datastream dsid="descMetadata"
        label="Descriptive Metadata" mimeType="text/xml" />    <datastream dsid="defaultObjectRights"
        label="Default Object Rights" mimeType="text/xml" /></objectDatastreams>
  recorded_at: Thu, 08 Jan 2015 22:00:25 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:qv648vd4392/datastreams/RELS-EXT?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:qv648vd4392"
        dsID="RELS-EXT" ><dsLabel>RDF Statements about this object</dsLabel><dsVersionID>RELS-EXT.0</dsVersionID><dsCreateDate>2011-07-25T20:32:10.617Z</dsCreateDate><dsState>A</dsState><dsMIME>application/rdf+xml</dsMIME><dsFormatURI>info:fedora/fedora-system:FedoraRELSExt-1.0</dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>424</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:qv648vd4392+RELS-EXT+RELS-EXT.0</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 08 Jan 2015 22:00:26 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:qv648vd4392/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="RDF Statements about this object.rdf"
      Content-Type:
      - application/rdf+xml
    body:
      encoding: US-ASCII
      string: ! "\n<rdf:RDF xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\"
        xmlns:hydra=\"http://projecthydra.org/ns/relations#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"
        xmlns:rel=\"info:fedora/fedora-system:def/relations-external#\">\n  <rdf:Description
        rdf:about=\"info:fedora/druid:qv648vd4392\">\n    <hydra:isGovernedBy rdf:resource=\"info:fedora/druid:hv992ry2431\"></hydra:isGovernedBy>\n
        \ </rdf:Description>\n</rdf:RDF>\n"
  recorded_at: Thu, 08 Jan 2015 22:00:26 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:qv648vd4392/datastreams/workflows?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:qv648vd4392"
        dsID="workflows" ><dsLabel>workflows</dsLabel><dsVersionID>workflows.0</dsVersionID><dsCreateDate>2012-01-28T02:45:40.006Z</dsCreateDate><dsState>A</dsState><dsMIME>application/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>E</dsControlGroup><dsSize>0</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:qv648vd4392/workflows</dsLocation><dsLocationType>URL</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 08 Jan 2015 22:00:26 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:qv648vd4392/datastreams/identityMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:qv648vd4392"
        dsID="identityMetadata" ><dsLabel>Identity Metadata</dsLabel><dsVersionID>identityMetadata.1</dsVersionID><dsCreateDate>2012-04-09T22:31:44.666Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>345</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:qv648vd4392+identityMetadata+identityMetadata.1</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 08 Jan 2015 22:00:26 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:qv648vd4392/datastreams/identityMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Identity Metadata.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<identityMetadata>\n  <objectId>druid:qv648vd4392</objectId>\n
        \ <objectType>adminPolicy</objectType>\n  <objectLabel>Revs Institute</objectLabel>\n
        \ <objectCreator>DOR</objectCreator>\n  <otherId name=\"uuid\">20d6c780-42eb-11e1-b86c-0800200c9a66</otherId>\n
        \ <agreementId>druid:tx617qp8040</agreementId>\n  <tag>Project : DOR</tag>\n</identityMetadata>\n"
  recorded_at: Thu, 08 Jan 2015 22:00:26 GMT
recorded_with: VCR 2.9.3
