---
http_interactions:
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:dc235vd9662?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="druid:dc235vd9662"
        ><objLabel>Le Mans, 1955 ; Mille Miglia 1956</objLabel><objOwnerId>fedoraAdmin</objOwnerId><objModels><model>info:fedora/afmodel:Dor_Item</model><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2012-05-03T20:38:34.666Z</objCreateDate><objLastModDate>2012-11-21T19:09:56.208Z</objLastModDate><objDissIndexViewURL>https://localhost:443/fedora/objects/druid%3Adc235vd9662/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://localhost:443/fedora/objects/druid%3Adc235vd9662/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:20 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:dc235vd9662/datastreams?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams  xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora-commons.org/definitions/1/0/listDatastreams.xsd" pid="druid:dc235vd9662"  baseURL="https://localhost:443/fedora/"
        >    <datastream dsid="DC" label="Dublin Core Record for this object" mimeType="text/xml"
        />    <datastream dsid="RELS-EXT" label="Fedora Object-to-Object Relationship
        Metadata" mimeType="application/rdf+xml" />    <datastream dsid="contentMetadata"
        label="Content Metadata" mimeType="text/xml" />    <datastream dsid="descMetadata"
        label="Descriptive Metadata" mimeType="text/xml" />    <datastream dsid="embargoMetadata"
        label="Embargo metadata" mimeType="text/xml" />    <datastream dsid="events"
        label="Events" mimeType="text/xml" />    <datastream dsid="identityMetadata"
        label="Identity Metadata" mimeType="text/xml" />    <datastream dsid="provenanceMetadata"
        label="Provenance Metadata" mimeType="text/xml" />    <datastream dsid="rightsMetadata"
        label="Rights Metadata" mimeType="text/xml" />    <datastream dsid="technicalMetadata"
        label="Technical Metadata" mimeType="text/xml" />    <datastream dsid="workflows"
        label="Workflow" mimeType="application/xml" /></objectDatastreams>
  recorded_at: Wed, 21 Jan 2015 22:40:20 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:dc235vd9662/datastreams/RELS-EXT?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:dc235vd9662"
        dsID="RELS-EXT" ><dsLabel>Fedora Object-to-Object Relationship Metadata</dsLabel><dsVersionID>RELS-EXT.4</dsVersionID><dsCreateDate>2012-08-10T23:19:16.308Z</dsCreateDate><dsState>A</dsState><dsMIME>application/rdf+xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>810</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:dc235vd9662+RELS-EXT+RELS-EXT.4</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:20 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:dc235vd9662/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Fedora Object-to-Object Relationship Metadata.rdf"
      Content-Type:
      - application/rdf+xml
    body:
      encoding: US-ASCII
      string: ! "\n<rdf:RDF xmlns:fedora=\"info:fedora/fedora-system:def/relations-external#\"
        xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\" xmlns:hydra=\"http://projecthydra.org/ns/relations#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n  <rdf:Description
        rdf:about=\"info:fedora/druid:dc235vd9662\">\n    <hydra:isGovernedBy rdf:resource=\"info:fedora/druid:qv648vd4392\"></hydra:isGovernedBy>\n
        \   <fedora-model:hasModel rdf:resource=\"info:fedora/afmodel:Dor_Item\"></fedora-model:hasModel>\n
        \   <fedora:isMemberOf rdf:resource=\"info:fedora/druid:wz243gf4151\"></fedora:isMemberOf>\n
        \   <fedora:isMemberOf rdf:resource=\"info:fedora/druid:wz243gf4151\"></fedora:isMemberOf>\n
        \   <fedora:isMemberOfCollection rdf:resource=\"info:fedora/druid:wz243gf4151\"></fedora:isMemberOfCollection>\n
        \ </rdf:Description>\n</rdf:RDF>\n"
  recorded_at: Wed, 21 Jan 2015 22:40:20 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:dc235vd9662/datastreams/workflows?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:dc235vd9662"
        dsID="workflows" ><dsLabel>Workflow</dsLabel><dsVersionID>workflows.2</dsVersionID><dsCreateDate>2012-05-03T20:39:57.705Z</dsCreateDate><dsState>A</dsState><dsMIME>application/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>E</dsControlGroup><dsSize>0</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:dc235vd9662/workflows</dsLocation><dsLocationType>URL</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:21 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:dc235vd9662/datastreams/identityMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:dc235vd9662"
        dsID="identityMetadata" ><dsLabel>Identity Metadata</dsLabel><dsVersionID>identityMetadata.0</dsVersionID><dsCreateDate>2012-05-03T20:38:34.949Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>417</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:dc235vd9662+identityMetadata+identityMetadata.0</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:21 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:dc235vd9662/datastreams/identityMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Identity Metadata.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<identityMetadata>\n  <sourceId source=\"Revs\">2011-023CHAM-1.0_0001</sourceId>\n
        \ <objectId>druid:dc235vd9662</objectId>\n  <objectCreator>DOR</objectCreator>\n
        \ <objectLabel>Le Mans, 1955 ; Mille Miglia 1956</objectLabel>\n  <objectType>item</objectType>\n
        \ <adminPolicy>druid:qv648vd4392</adminPolicy>\n  <otherId name=\"uuid\">f36fcad6-955f-11e1-9027-0050569b52c6</otherId>\n
        \ <tag>Project : Revs</tag>\n</identityMetadata>\n"
  recorded_at: Wed, 21 Jan 2015 22:40:21 GMT
- request:
    method: get
    uri: http://127.0.0.1:8080/solr/argo_test/select?q=id:druid%5C:wz243gf4151&qt=standard&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{''responseHeader''=>{''status''=>0,''QTime''=>1,''params''=>{''q''=>''id:druid\\:wz243gf4151'',''qt''=>''standard'',''wt''=>''ruby''}},''response''=>{''numFound''=>1,''start''=>0,''docs''=>[{''id''=>''druid:wz243gf4151'',''system_create_dt''=>[''2011-07-05T17:12:18Z''],''date''=>[''2011-07-05T17:12:18Z'',''2015-01-21T22:37:24Z'',''2011-07-05T17:12:18Z'',''2015-01-21T22:37:24Z'',''2013-04-29T20:55:31Z'',''2013-04-29T20:55:32Z'',''2013-04-29T20:55:32Z'',''2013-04-29T20:55:32Z'',''2013-04-29T20:55:34Z'',''2013-04-29T20:55:34Z'',''2015-01-21T22:37:31Z''],''system_modified_dt''=>[''2015-01-21T22:37:24Z''],''active_fedora_model_s''=>[''Dor::Set''],''object_profile_display''=>[''{"datastreams":{"DC":{"dsLabel":"Dublin
        Core Record for this object","dsVersionID":"DC.1","dsCreateDate":"2011-08-15T20:47:25Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":"http://www.openarchives.org/OAI/2.0/oai_dc/","dsControlGroup":"X","dsSize":497,"dsVersionable":false,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+DC+DC.1","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"RELS-EXT":{"dsLabel":"RDF
        Statements about this object","dsVersionID":"RELS-EXT.1","dsCreateDate":"2015-01-21T22:37:23Z","dsState":"A","dsMIME":"application/rdf+xml","dsFormatURI":"info:fedora/fedora-system:FedoraRELSExt-1.0","dsControlGroup":"X","dsSize":721,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+RELS-EXT+RELS-EXT.1","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"identityMetadata":{"dsLabel":"Identity
        Metadata","dsVersionID":"identityMetadata.3","dsCreateDate":"2015-01-21T22:37:23Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":592,"dsVersionable":false,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+identityMetadata+identityMetadata.3","dsLocationType":"URL","dsChecksumType":"DISABLED","dsChecksum":"none"},"events":{"dsLabel":"Events","dsVersionID":"events.0","dsCreateDate":"2015-01-21T22:37:23Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":19,"dsVersionable":false,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+events+events.0","dsLocationType":"URL","dsChecksumType":"DISABLED","dsChecksum":"none"},"embargoMetadata":{"dsLabel":"Embargo
        metadata","dsVersionID":"embargoMetadata.0","dsCreateDate":"2015-01-21T22:37:23Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":248,"dsVersionable":false,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+embargoMetadata+embargoMetadata.0","dsLocationType":"URL","dsChecksumType":"DISABLED","dsChecksum":"none"},"contentMetadata":{},"workflows":{"dsLabel":"Workflows","dsVersionID":"workflows.0","dsCreateDate":"2015-01-21T22:32:14Z","dsState":"A","dsMIME":"application/xml","dsFormatURI":null,"dsControlGroup":"E","dsSize":0,"dsVersionable":true,"dsInfoType":null,"dsLocation":"https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:wz243gf4151/workflows","dsLocationType":"URL","dsChecksumType":"DISABLED","dsChecksum":"none"},"descMetadata":{"dsLabel":"Descriptive
        Metadata","dsVersionID":"descMetadata.1","dsCreateDate":"2011-09-16T19:35:12Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":637,"dsVersionable":false,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+descMetadata+descMetadata.1","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"rightsMetadata":{"dsLabel":"Rights
        Metadata","dsVersionID":"rightsMetadata.1","dsCreateDate":"2012-10-12T17:10:16Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":231,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+rightsMetadata+rightsMetadata.1","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"versionMetadata":{"dsLabel":"Version
        Metadata","dsVersionID":"versionMetadata.0","dsCreateDate":"2015-01-21T22:37:24Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":136,"dsVersionable":false,"dsInfoType":null,"dsLocation":"druid:wz243gf4151+versionMetadata+versionMetadata.0","dsLocationType":"URL","dsChecksumType":"DISABLED","dsChecksum":"none"}},"objLabel":"Marcus
        Chambers Collection of the Revs Institute","objOwnerId":"DOR","objModels":["info:fedora/afmodel:[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:wz243gf4151?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="druid:wz243gf4151"
        ><objLabel>Marcus Chambers Collection of the Revs Institute</objLabel><objOwnerId>DOR</objOwnerId><objModels><model>info:fedora/afmodel:Dor_Item</model><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2011-07-05T17:12:18.779Z</objCreateDate><objLastModDate>2015-01-21T22:37:24.498Z</objLastModDate><objDissIndexViewURL>https://localhost:443/fedora/objects/druid%3Awz243gf4151/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://localhost:443/fedora/objects/druid%3Awz243gf4151/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:21 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:wz243gf4151/datastreams?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams  xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/20[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:wz243gf4151/datastreams/RELS-EXT?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:wz243gf4151"
        dsID="RELS-EXT" ><dsLabel>RDF Statements about this object</dsLabel><dsVersionID>RELS-EXT.1</dsVersionID><dsCreateDate>2015-01-21T22:37:23.552Z</dsCreateDate><dsState>A</dsState><dsMIME>application/rdf+xml</dsMIME><dsFormatURI>info:fedora/fedora-system:FedoraRELSExt-1.0</dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>721</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:wz243gf4151+RELS-EXT+RELS-EXT.1</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:21 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:wz243gf4151/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="RDF Statements about this object.rdf"
      Content-Type:
      - application/rdf+xml
    body:
      encoding: US-ASCII
      string: ! "\n<rdf:RDF xmlns:fedora=\"info:fedora/fedora-system:def/relations-external#\"
        xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\" xmlns:hydra=\"http://projecthydra.org/ns/relations#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n  <rdf:Description
        rdf:about=\"info:fedora/druid:wz243gf4151\">\n    <hydra:isGovernedBy rdf:resource=\"info:fedora/druid:qv648vd4392\"></hydra:isGovernedBy>\n
        \   <fedora-model:hasModel rdf:resource=\"info:fedora/afmodel:Dor_Item\"></fedora-model:hasModel>\n
        \   <fedora:isMemberOf rdf:resource=\"info:fedora/druid:nt028fd5773\"></fedora:isMemberOf>\n
        \   <fedora:isMemberOfCollection rdf:resource=\"info:fedora/druid:nt028fd5773\"></fedora:isMemberOfCollection>\n
        \ </rdf:Description>\n</rdf:RDF>\n"
  recorded_at: Wed, 21 Jan 2015 22:40:21 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:wz243gf4151/datastreams/workflows?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:wz243gf4151"
        dsID="workflows" ><dsLabel>Workflows</dsLabel><dsVersionID>workflows.0</dsVersionID><dsCreateDate>2015-01-21T22:32:14.050Z</dsCreateDate><dsState>A</dsState><dsMIME>application/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>E</dsControlGroup><dsSize>0</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:wz243gf4151/workflows</dsLocation><dsLocationType>URL</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:21 GMT
[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:wz243gf4151/datastreams/identityMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:wz243gf4151"
        dsID="identityMetadata" ><dsLabel>Identity Metadata</dsLabel><dsVersionID>identityMetadata.3</dsVersionID><dsCreateDate>2015-01-21T22:37:23.680Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>592</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:wz243gf4151+identityMetadata+identityMetadata.3</dsLocation><dsLocationType>URL</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:22 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:wz243gf4151/datastreams/identityMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Identity Metadata.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<identityMetadata>\n  <objectLabel>The Marcus Chambers Collection
        of the Revs Institute</objectLabel>\n  <adminPolicy>druid:qv648vd4392</adminPolicy>\n
        \ <objectType>set</objectType>\n  <otherId name=\"uuid\">076503a0-7a92-11e1-b0c4-0800200c9a66</otherId>\n
        \ <objectId>druid:wz243gf4151</objectId>\n  <objectCreator>DOR</objectCreator>\n
        \ <agreementId>druid:xf765cv5573</agreementId>\n  <release to=\"Kurita\" what=\"collection\"
        when=\"2015-01-21T22:32:09Z\" who=\"carrickr\">true</release>\n  <release
        to=\"Atago\" what=\"collection\" when=\"2015-01-21T22:37:21Z\" who=\"carrickr\">true</release>\n</identityMetadata>\n"
  recorded_at: Wed, 21 Jan 2015 22:40:22 GMT
- request:
    method: get
    uri: http://127.0.0.1:8080/solr/argo_test/select?q=id:druid%5C:nt028fd5773&qt=standard&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{'responseHeader'=>{'status'=>0,'QTime'=>1,'params'=>{'q'=>'id:druid\\\\:nt028fd5773','qt'=>'standard','wt'=>'ruby'}},'response'=>[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:nt028fd5773?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="druid:nt028fd5773"
        ><objLabel>Revs Institute</objLabel><objOwnerId>DOR</objOwnerId><objModels><model>info:fedora/afmodel:Dor_Item</model><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2011-07-05T17:12:18.779Z</objCreateDate><objLastModDate>2015-01-21T22:37:44.589Z</objLastModDate><objDissIndexViewURL>https://localhost:443/fedora/objects/druid%3Ant028fd5773/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://localhost:443/fedora/objects/druid%3Ant028fd5773/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:22 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:nt028fd5773/datastreams?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams  xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/20[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:nt028fd5773/datastreams/RELS-EXT?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:nt028fd5773"
        dsID="RELS-EXT" ><dsLabel>RDF Statements about this object</dsLabel><dsVersionID>RELS-EXT.1</dsVersionID><dsCreateDate>2014-12-11T22:21:23.609Z</dsCreateDate><dsState>A</dsState><dsMIME>application/rdf+xml</dsMIME><dsFormatURI>info:fedora/fedora-system:FedoraRELSExt-1.0</dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>458</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:nt028fd5773+RELS-EXT+RELS-EXT.1</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:22 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:nt028fd5773/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="RDF Statements about this object.rdf"
      Content-Type:
      - application/rdf+xml
    body:
      encoding: US-ASCII
      string: ! "\n<rdf:RDF xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\"
        xmlns:hydra=\"http://projecthydra.org/ns/relations#\" xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n
        \ <rdf:Description rdf:about=\"info:fedora/druid:nt028fd5773\">\n    <hydra:isGovernedBy
        rdf:resource=\"info:fedora/druid:qv648vd4392\"></hydra:isGovernedBy>\n    <fedora-model:hasModel
        rdf:resource=\"info:fedora/afmodel:Dor_Item\"></fedora-model:hasModel>\n  </rdf:Description>\n</rdf:RDF>\n"
  recorded_at: Wed, 21 Jan 2015 22:40:23 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:nt028fd5773/datastreams/workflows?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:nt028fd5773"
        dsID="workflows" ><dsLabel>workflows</dsLabel><dsVersionID>workflows.0</dsVersionID><dsCreateDate>2012-01-28T02:07:31.084Z</dsCreateDate><dsState>A</dsState><dsMIME>application/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>E</dsControlGroup><dsSize>0</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:nt028fd5773/workflows</dsLocation><dsLocationType>URL</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 21 Jan 2015 22:40:23 GMT
[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:nt028fd5773/datastreams/identityMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
[...]
