---
http_interactions:
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/describe?xml=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><fedoraRepository xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/ http://www.fedora.info/definitions/1/0/fedoraRepository.xsd"><repositoryName>Fedora
        Repository</repositoryName><repositoryBaseURL>https://localhost:443/fedora</repositoryBaseURL><repositoryVersion>3.6.2</repositoryVersion><repositoryPID>    <PID-namespaceIdentifier>changeme</PID-namespaceIdentifier>    <PID-delimiter>:</PID-delimiter>    <PID-sample>changeme:100</PID-sample>    <retainPID>*</retainPID></repositoryPID><repositoryOAI-identifier>    <OAI-namespaceIdentifier>example.org</OAI-namespaceIdentifier>    <OAI-delimiter>:</OAI-delimiter>    <OAI-sample>oai:example.org:changeme:100</OAI-sample></repositoryOAI-identifier><sampleSearch-URL>https://localhost:443/fedora/objects</sampleSearch-URL><sampleAccess-URL>https://localhost:443/fedora/objects/demo:5</sampleAccess-URL><sampleOAI-URL>https://localhost:443/fedora/oai?verb=Identify</sampleOAI-URL><adminEmail>bob@example.org</adminEmail><adminEmail>sally@example.org</adminEmail></fedoraRepository>
  recorded_at: Thu, 22 Jan 2015 20:30:13 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="druid:bb004bn8654"
        ><objLabel>Bryar 250 Trans-American: July 9-10</objLabel><objOwnerId>preassembly@sul-lyberservices-prod.stanford.edu</objOwnerId><objModels><model>info:fedora/afmodel:Dor_Item</model><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2013-01-11T23:09:12.860Z</objCreateDate><objLastModDate>2015-01-13T21:13:57.440Z</objLastModDate><objDissIndexViewURL>https://localhost:443/fedora/objects/druid%3Abb004bn8654/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://localhost:443/fedora/objects/druid%3Abb004bn8654/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>'
  recorded_at: Thu, 22 Jan 2015 20:30:14 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams  xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora-commons.org/definitions/1/0/listDatastreams.xsd" pid="druid:bb004bn8654"  baseURL="https://localhost:443/fedora/"
        >    <datastream dsid="DC" label="Dublin Core Record for this object" mimeType="text/xml"
        />    <datastream dsid="RELS-EXT" label="Fedora Object-to-Object Relationship
        Metadata" mimeType="application/rdf+xml" />    <datastream dsid="identityMetadata"
        label="Identity Metadata" mimeType="text/xml" />    <datastream dsid="workflows"
        label="Workflow" mimeType="application/xml" />    <datastream dsid="contentMetadata"
        label="Content Metadata" mimeType="text/xml" />    <datastream dsid="technicalMetadata"
        label="Technical Metadata" mimeType="text/xml" />    <datastream dsid="descMetadata"
        label="Descriptive Metadata" mimeType="text/xml" />    <datastream dsid="rightsMetadata"
        label="Rights Metadata" mimeType="text/xml" />    <datastream dsid="provenanceMetadata"
        label="Provenance Metadata" mimeType="text/xml" />    <datastream dsid="versionMetadata"
        label="Version Metadata" mimeType="text/xml" />    <datastream dsid="events"
        label="Events" mimeType="text/xml" />    <datastream dsid="embargoMetadata"
        label="Embargo metadata" mimeType="text/xml" /></objectDatastreams>
  recorded_at: Thu, 22 Jan 2015 20:30:14 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/RELS-EXT?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="RELS-EXT" ><dsLabel>Fedora Object-to-Object Relationship Metadata</dsLabel><dsVersionID>RELS-EXT.1</dsVersionID><dsCreateDate>2013-01-11T23:09:17.690Z</dsCreateDate><dsState>A</dsState><dsMIME>application/rdf+xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>919</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+RELS-EXT+RELS-EXT.1</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 22 Jan 2015 20:30:14 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Fedora Object-to-Object Relationship Metadata.rdf"
      Content-Type:
      - application/rdf+xml
    body:
      encoding: US-ASCII
      string: ! "\n<rdf:RDF xmlns:fedora=\"info:fedora/fedora-system:def/relations-external#\"
        xmlns:fedora-model=\"info:fedora/fedora-system:def/model#\" xmlns:hydra=\"http://projecthydra.org/ns/relations#\"
        xmlns:rdf=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\">\n  <rdf:Description
        rdf:about=\"info:fedora/druid:bb004bn8654\">\n    <hydra:isGovernedBy rdf:resource=\"info:fedora/druid:qv648vd4392\"></hydra:isGovernedBy>\n
        \   <fedora-model:hasModel rdf:resource=\"info:fedora/afmodel:Dor_Item\"></fedora-model:hasModel>\n
        \   <fedora:isMemberOf rdf:resource=\"info:fedora/druid:kz071cg8658\"></fedora:isMemberOf>\n
        \   <fedora:isMemberOf rdf:resource=\"info:fedora/druid:nt028fd5773\"></fedora:isMemberOf>\n
        \   <fedora:isMemberOfCollection rdf:resource=\"info:fedora/druid:kz071cg8658\"></fedora:isMemberOfCollection>\n
        \   <fedora:isMemberOfCollection rdf:resource=\"info:fedora/druid:nt028fd5773\"></fedora:isMemberOfCollection>\n
        \ </rdf:Description>\n</rdf:RDF>\n"
  recorded_at: Thu, 22 Jan 2015 20:30:14 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/workflows?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="workflows" ><dsLabel>Workflow</dsLabel><dsVersionID>workflows.19</dsVersionID><dsCreateDate>2014-12-08T22:58:20.118Z</dsCreateDate><dsState>A</dsState><dsMIME>application/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>E</dsControlGroup><dsSize>0</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:bb004bn8654/workflows</dsLocation><dsLocationType>URL</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 22 Jan 2015 20:30:14 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/identityMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="identityMetadata" ><dsLabel>Identity Metadata</dsLabel><dsVersionID>identityMetadata.18</dsVersionID><dsCreateDate>2015-01-13T21:13:57.440Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>844</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+identityMetadata+identityMetadata.18</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Thu, 22 Jan 2015 20:30:14 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/identityMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Identity Metadata.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<identityMetadata>\n  <sourceId source=\"Revs\">2012-027NADI-1966-b1_4.3_0015</sourceId>\n
        \ <objectId>druid:bb004bn8654</objectId>\n  <objectCreator>DOR</objectCreator>\n
        \ <objectLabel>Bryar 250 Trans-American: July 9-10</objectLabel>\n  <objectType>item</objectType>\n
        \ <adminPolicy>druid:qv648vd4392</adminPolicy>\n  <otherId name=\"uuid\">e96fdf84-5c43-11e2-a99a-0050569b52d5</otherId>\n
        \ <tag>Project : Revs</tag>\n  <tag>Remediated By : 3.25.0</tag>\n  <tag>tag
        : test1</tag>\n  <tag>old : tag</tag>\n  <release tag=\"true\" to=\"Revs\"
        what=\"collection\" when=\"2015-01-06T23:33:47Z\" who=\"carrickr\">true</release>\n
        \ <release tag=\"true\" to=\"Revs\" what=\"self\" when=\"2015-01-06T23:33:54Z\"
        who=\"carrickr\">true</release>\n  <release tag=\"Project : Fitch : Batch2\"
        to=\"Revs\" what=\"self\" when=\"2015-01-06T23:40:01Z\" who=\"carrickr\">false</release>\n</identityMetadata>\n"
  recorded_at: Thu, 22 Jan 2015 20:30:14 GMT
- request:
    method: get
    uri: http://fedoraUser:fedoraPass@example.edu/fedora/describe?xml=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Etag:
      - ! '"359670651"'
      Last-Modified:
      - Fri, 09 Aug 2013 23:54:35 GMT
      X-Ec-Custom-Error:
      - '1'
    body:
      encoding: US-ASCII
      string: ! "<!doctype html>\n<html>\n<head>\n    <title>Example Domain</title>\n\n
        \   <meta charset=\"utf-8\" />\n    <meta http-equiv=\"Content-type\" content=\"text/html;
        charset=utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <style type=\"text/css\">\n    body {\n        background-color:
        #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: \"Open
        Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n        \n    }\n
        \   div {\n        width: 600px;\n        margin: 5em auto;\n        padding:
        50px;\n        background-color: #fff;\n        border-radius: 1em;\n    }\n
        \   a:link, a:visited {\n        color: #38488f;\n        text-decoration:
        none;\n    }\n    @media (max-width: 700px) {\n        body {\n            background-color:
        #fff;\n        }\n        div {\n            width: auto;\n            margin:
        0 auto;\n            border-radius: 0;\n            padding: 1em;\n        }\n
        \   }\n    </style>    \n</head>\n\n<body>\n<div>\n    <h1>Example Domain</h1>\n
        \   <p>This domain is established to be used for illustrative examples in
        documents. You may use this\n    domain in examples without prior coordination
        or asking for permission.</p>\n    <p><a href=\"http://www.iana.org/domains/example\">More
        information...</a></p>\n</div>\n</body>\n</html>\n"
  recorded_at: Thu, 09 Jul 2015 21:45:46 GMT
- request:
    method: get
    uri: http://fedoraUser:fedoraPass@example.edu/fedora/objects/druid:bb004bn8654?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Etag:
      - ! '"359670651"'
      Last-Modified:
      - Fri, 09 Aug 2013 23:54:35 GMT
      X-Ec-Custom-Error:
      - '1'
    body:
      encoding: US-ASCII
      string: ! "<!doctype html[...]
