---
http_interactions:
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/identityMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="identityMetadata" ><dsLabel>Identity Metadata</dsLabel><dsVersionID>identityMetadata.13</dsVersionID><dsCreateDate>2015-01-05T23:19:23.045Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>786</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+identityMetadata+identityMetadata.13</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/identityMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Identity Metadata.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<identityMetadata>\n  <sourceId source=\"Revs\">2012-027NADI-1966-b1_4.3_0015</sourceId>\n
        \ <objectId>druid:bb004bn8654</objectId>\n  <objectCreator>DOR</objectCreator>\n
        \ <objectLabel>Bryar 250 Trans-American: July 9-10</objectLabel>\n  <objectType>item</objectType>\n
        \ <adminPolicy>druid:qv648vd4392</adminPolicy>\n  <otherId name=\"uuid\">e96fdf84-5c43-11e2-a99a-0050569b52d5</otherId>\n
        \ <tag>Project : Revs</tag>\n  <tag>Remediated By : 3.25.0</tag>\n  <tag>Release:
        now</tag>\n  <tag>tag : test1</tag>\n  <tag>release : revs : embargo</tag>\n
        \ <release_tag>sw : all</release_tag>\n  <release_tag user=\"carrickr\">sw
        : all</release_tag>\n  <tag>old : tag</tag>\n  <release_tag when=\"2015-01-05T22:46:05Z\"
        who=\"carrickr\">searchworks : all</release_tag>\n  <tag>foo : bar : gah</tag>\n</identityMetadata>\n"
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/events?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="events" ><dsLabel>Events</dsLabel><dsVersionID>events.2</dsVersionID><dsCreateDate>2013-06-17T22:18:41.065Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>512</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+events+events.2</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/DC?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="DC" ><dsLabel>Dublin Core Record for this object</dsLabel><dsVersionID>DC1.0</dsVersionID><dsCreateDate>2013-01-11T23:09:12.860Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI>http://www.openarchives.org/OAI/2.0/oai_dc/</dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>405</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+DC+DC1.0</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/descMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="descMetadata" ><dsLabel>Descriptive Metadata</dsLabel><dsVersionID>descMetadata.2</dsVersionID><dsCreateDate>2013-06-13T23:55:58.705Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>M</dsControlGroup><dsSize>1084</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+descMetadata+descMetadata.2</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/contentMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="contentMetadata" ><dsLabel>Content Metadata</dsLabel><dsVersionID>contentMetadata.2</dsVersionID><dsCreateDate>2013-06-13T23:55:58.309Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>M</dsControlGroup><dsSize>867</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+contentMetadata+contentMetadata.2</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/rightsMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="rightsMetadata" ><dsLabel>Rights Metadata</dsLabel><dsVersionID>rightsMetadata.6</dsVersionID><dsCreateDate>2014-06-30T18:38:14.586Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>599</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+rightsMetadata+rightsMetadata.6</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/embargoMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="embargoMetadata" ><dsLabel>Embargo metadata</dsLabel><dsVersionID>embargoMetadata.0</dsVersionID><dsCreateDate>2014-12-11T22:21:52.762Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>248</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+embargoMetadata+embargoMetadata.0</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/provenanceMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="provenanceMetadata" ><dsLabel>Provenance Metadata</dsLabel><dsVersionID>provenanceMetadata.3</dsVersionID><dsCreateDate>2013-07-08T17:45:27.246Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>265</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+provenanceMetadata+provenanceMetadata.3</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/technicalMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="technicalMetadata" ><dsLabel>Technical Metadata</dsLabel><dsVersionID>technicalMetadata.3</dsVersionID><dsCreateDate>2013-06-13T23:55:58.510Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>M</dsControlGroup><dsSize>5979</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+technicalMetadata+technicalMetadata.3</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/versionMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="versionMetadata" ><dsLabel>Version Metadata</dsLabel><dsVersionID>versionMetadata.7</dsVersionID><dsCreateDate>2013-06-13T23:55:58.106Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>445</dsSize><dsVersionable>false</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+versionMetadata+versionMetadata.7</dsLocation><dsLocationType>INTERNAL_ID</dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/geoMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: No datastream could be found. Either there is no datastream for the
        digital object "druid:bb004bn8654" with datastream ID of "geoMetadata"  OR  there
        are no datastreams that match the specified date/time value of "null".
  recorded_at: Mon, 05 Jan 2015 23:20:47 GMT
- request:
    method: put
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/identityMetadata?mimeType=text/xml
    body:
      encoding: US-ASCII
      string: ! "<identityMetadata>\n  <sourceId source=\"Revs\">2012-027NADI-1966-b1_4.3_0015</sourceId>\n
        \ <objectId>druid:bb004bn8654</objectId>\n  <objectCreator>DOR</objectCreator>\n
        \ <objectLabel>Bryar 250 Trans-American: July 9-10</objectLabel>\n  <objectType>item</objectType>\n
        \ <adminPolicy>druid:qv648vd4392</adminPolicy>\n  <otherId name=\"uuid\">e96fdf84-5c43-11e2-a99a-0050569b52d5</otherId>\n
        \ <tag>Project : Revs</tag>\n  <tag>Remediated By : 3.25.0</tag>\n  <tag>Release:
        now</tag>\n  <tag>tag : test1</tag>\n  <tag>release : revs : embargo</tag>\n
        \ <release_tag>sw : all</release_tag>\n  <release_tag user=\"carrickr\">sw
        : all</release_tag>\n  <tag>old : tag</tag>\n  <release_tag when=\"2015-01-05T22:46:05Z\"
        who=\"carrickr\">searchworks : all</release_tag>\n  <tag>foo : bar : gah</tag>\n<release_tag
        who=\"carrickr\" when=\"2015-01-05T23:20:47Z\">searchworks : all</release_tag></identityMetadata>"
    headers:
      Multipart:
      - 'true'
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="identityMetadata" ><dsLabel>Identity Metadata</dsLabel><dsVersionID>identityMetadata.14</dsVersionID><dsCreateDate>2015-01-05T23:20:48.098Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>876</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+identityMetadata+identityMetadata.14</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:48 GMT
[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/DC/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Dublin Core Record for this object.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n
        \ <dc:title>Bryar 250 Trans-American: July 9-10</dc:title>\n  <dc:identifier>druid:bb004bn8654</dc:identifier>\n</oai_dc:dc>\n"
  recorded_at: Mon, 05 Jan 2015 23:20:48 GMT
- request:
    method: get
    uri: https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:bb004bn8654/workflows/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<workflows
        objectId=\"druid:bb004bn8654\">\n    <workflow repository=\"dor\" objectId=\"druid:bb004bn8654\"
        id=\"accessionWF\">\n        <process version=\"1\" priority=\"0\" lifecycle=\"submitted\"
        laneId=\"default\" elapsed=\"0.0\" archived=\"true\" attempts=\"1\" datetime=\"2013-01-11T18:45:53-0800\"
        status=\"completed\" name=\"start-accession\"/>\n        <process version=\"1\"
        priority=\"0\" lifecycle=\"submitted\" laneId=\"default\" elapsed=\"0.0\"
        archived=\"true\" attempts=\"1\" datetime=\"2013-01-11T18:45:53-0800\" status=\"completed\"
        name=\"start-accession\"/>\n        <process version=\"[...]
- request:
    method: get
    uri: http://127.0.0.1:8080/solr/argo_test/select?q=objectType_t:%22workflow%22%20workflow_name_s:%22accessionWF%22&start=0&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{''responseHeader''=>{''status''=>0,''QTime''=>1,''params''=>{''start''=>''0'',''q''=>''objectType_t:"workflow"
        workflow_name_s:"accessionWF"'',''wt''=>''ruby''}},''response''=>{''numFound''=>1,''start''=>0,''docs''=>[{''id''=>''druid:tm388wy6148'',''system_create_dt''=>[''2011-10-26T23:23:57Z''],''date''=>[''2011-10-26T23:23:57Z'',''2014-12-05T20:00:12Z'',''2011-10-26T23:23:57Z'',''2014-12-05T20:00:12Z'',''2014-12-05T20:08:36Z''],''system_modified_dt''=>[''2014-12-05T20:00:12Z''],''active_fedora_model_s''=>[''Dor::WorkflowObject''],''object_profile_display''=>[''{"datastreams":{"DC":{"dsLabel":"Dublin
        Core Record for this object","dsVersionID":"DC.1","dsCreateDate":"2011-10-26T23:23:59Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":"http://www.openarchives.org/OAI/2.0/oai_dc/","dsControlGroup":"X","dsSize":412,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:tm388wy6148+DC+DC.1","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"RELS-EXT":{"dsLabel":"RDF
        Statements about this object","dsVersionID":"RELS-EXT.1","dsCreateDate":"2014-12-05T20:00:12Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":487,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:tm388wy6148+RELS-EXT+RELS-EXT.1","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"descMetadata":{"dsLabel":"Descriptive
        Metadata","dsVersionID":"descMetadata.0","dsCreateDate":"2011-10-26T23:23:58Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":13,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:tm388wy6148+descMetadata+descMetadata.0","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"identityMetadata":{"dsLabel":"Identity
        Metadata","dsVersionID":"identityMetadata.0","dsCreateDate":"2011-10-26T23:23:58Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":298,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:tm388wy6148+identityMetadata+identityMetadata.0","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"provenanceMetadata":{"dsLabel":"Provenance
        Metadata","dsVersionID":"provenanceMetadata.0","dsCreateDate":"2011-10-26T23:23:59Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":13,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:tm388wy6148+provenanceMetadata+provenanceMetadata.0","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"rightsMetadata":{"dsLabel":"Rights
        Metadata","dsVersionID":"rightsMetadata.0","dsCreateDate":"2011-10-26T23:23:59Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":13,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:tm388wy6148+rightsMetadata+rightsMetadata.0","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"},"workflows":{"dsLabel":"workflows","dsVersionID":"workflows.0","dsCreateDate":"2012-01-28T04:33:44Z","dsState":"A","dsMIME":"application/xml","dsFormatURI":null,"dsControlGroup":"E","dsSize":0,"dsVersionable":true,"dsInfoType":null,"dsLocation":"https://lyberservices-test.stanford.edu/workflow/dor/objects/druid:tm388wy6148/workflows","dsLocationType":"URL","dsChecksumType":"DISABLED","dsChecksum":"none"},"events":{},"workflowDefinition":{"dsLabel":"Workflow
        Definition","dsVersionID":"workflowDefinition.27","dsCreateDate":"2014-08-20T22:25:16Z","dsState":"A","dsMIME":"text/xml","dsFormatURI":null,"dsControlGroup":"X","dsSize":2553,"dsVersionable":true,"dsInfoType":null,"dsLocation":"druid:tm388wy6148+workflowDefinition+workflowDefinition.27","dsLocationType":null,"dsChecksumType":"DISABLED","dsChecksum":"none"}},"objLabel":"accessionWF","objOwnerId":"fedoraAdmin","objModels":["info:fedora/afmodel:Dor_WorkflowObject","info:fedora/fedora-system:FedoraObject-3.0"],"objCreateDate":"2011-10-26T23:23:57Z","objLastModDate":"2014-12-05T20:00:12Z","objDissIndexViewURL":"https://localhost:443/fedora/objects/druid%3Atm388wy6148/methods/fedora-system%3A3/viewMethodIndex","objItemIndexViewURL":"https://localhost:443/fedora/objects/druid%3Atm388wy6148/methods/fedora-system%3A3/viewItemIndex","objState":"A"}''],''dc_title_t''=>[''accessionWF''],''dc_title_display''=>[''accessionWF''],''dc_title_facet''=>[''accessionWF''],''dc_0_title_t''=>[''accessionWF''],''dc_0_title_display''=>[''accessionWF''],''dc_0_title_facet''=>[''accessionWF''],''dc_creator_t''=>[''DOR''],''dc_creator_display''=>[''DOR''],''dc_creator_facet''=>[''DOR''],''dc_0_creator_t''=>[''DOR''],''dc_0_creator_display''=>[''DOR''],''dc_0_creator_facet''=>[''DOR''],''dc_identifier_t''=>[''druid:tm388wy6148''],''dc_identifier_display[...]
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:tm388wy6148?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="druid:tm388wy6148"
        ><objLabel>accessionWF</objLabel><objOwnerId>fedoraAdmin</objOwnerId><objModels><model>info:fedora/afmodel:Dor_WorkflowObject</model><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2011-10-26T23:23:57.961Z</objCreateDate><objLastModDate>2014-12-05T20:00:12.289Z</objLastModDate><objDissIndexViewURL>https://localhost:443/fedora/objects/druid%3Atm388wy6148/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://localhost:443/fedora/objects/druid%3Atm388wy6148/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:48 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:tm388wy6148/datastreams?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams  xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora-commons.org/definitions/1/0/listDatastreams.xsd" pid="druid:tm388wy6148"  baseURL="https://localhost:443/fedora/"
        >    <datastream dsid="DC" label="Dublin Core Record for this object" mimeType="text/xml"
        />    <datastream dsid="RELS-EXT" label="RDF Statements about this object"
        mimeType="text/xml" />    <datastream dsid="descMetadata" label="Descriptive
        Metadata" mimeType="text/xml" />    <datastream dsid="identityMetadata" label="Identity
        Metadata" mimeType="text/xml" />    <datastream dsid="provenanceMetadata"
        label="Provenance Metadata" mimeType="text/xml" />    <datastream dsid="rightsMetadata"
        label="Rights Metadata" mimeType="text/xml" />    <datastream dsid="workflowDefinition"
        label="Workflow Definition" mimeType="text/xml" />    <datastream dsid="workflows"
        label="workflows" mimeType="application/xml" /></objectDatastreams>
  recorded_at: Mon, 05 Jan 2015 23:20:48 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:tm388wy6148/datastreams/RELS-EXT?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:tm388wy6148"
        dsID="RELS-EXT" ><dsLabel>RDF Statements about this object</dsLabel><dsVersionID>RELS-EXT.1</dsVersionID><dsCreateDate>2014-12-05T20:00:12.289Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>487</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:tm388wy6148+RELS-EXT+RELS-EXT.1</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Mon, 05 Jan 2015 23:20:48 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:tm388wy6148/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="RDF Statements about this object.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
[...]
