---
http_interactions:
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/identityMetadata?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><datastreamProfile  xmlns="http://www.fedora.info/definitions/1/0/management/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/management/
        http://www.fedora.info/definitions/1/0/datastreamProfile.xsd" pid="druid:bb004bn8654"
        dsID="identityMetadata" ><dsLabel>Identity Metadata</dsLabel><dsVersionID>identityMetadata.17</dsVersionID><dsCreateDate>2015-01-06T23:40:22.589Z</dsCreateDate><dsState>A</dsState><dsMIME>text/xml</dsMIME><dsFormatURI></dsFormatURI><dsControlGroup>X</dsControlGroup><dsSize>1090</dsSize><dsVersionable>true</dsVersionable><dsInfoType></dsInfoType><dsLocation>druid:bb004bn8654+identityMetadata+identityMetadata.17</dsLocation><dsLocationType></dsLocationType><dsChecksumType>DISABLED</dsChecksumType><dsChecksum>none</dsChecksum></datastreamProfile>
  recorded_at: Wed, 07 Jan 2015 00:20:57 GMT
- request:
    method: get
    uri: https://sul-dor-test.stanford.edu/fedora/objects/druid:bb004bn8654/datastreams/identityMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="Identity Metadata.xml"
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "\n<identityMetadata>\n  <sourceId source=\"Revs\">2012-027NADI-1966-b1_4.3_0015</sourceId>\n
        \ <objectId>druid:bb004bn8654</objectId>\n  <objectCreator>DOR</objectCreator>\n
        \ <objectLabel>Bryar 250 Trans-American: July 9-10</objectLabel>\n  <objectType>item</objectType>\n
        \ <adminPolicy>druid:qv648vd4392</adminPolicy>\n  <otherId name=\"uuid\">e96fdf84-5c43-11e2-a99a-0050569b52d5</otherId>\n
        \ <tag>Project : Revs</tag>\n  <tag>Remediated By : 3.25.0</tag>\n  <tag>Release:
        now</tag>\n  <tag>tag : test1</tag>\n  <tag>release : revs : embargo</tag>\n
        \ <release_tag>sw : all</release_tag>\n  <release_tag user=\"carrickr\">sw
        : all</release_tag>\n  <tag>old : tag</tag>\n  <release_tag when=\"2015-01-05T22:46:05Z\"
        who=\"carrickr\">searchworks : all</release_tag>\n  <release tag=\"true\"
        to=\"Revs\" what=\"collection\" when=\"2015-01-06T23:33:47Z\" who=\"carrickr\">true</release>\n
        \ <release tag=\"true\" to=\"Revs\" what=\"self\" when=\"2015-01-06T23:33:54Z\"
        who=\"carrickr\">true</release>\n  <release tag=\"Project : Fitch : Batch2\"
        to=\"Revs\" what=\"self\" when=\"2015-01-06T23:40:01Z\" who=\"carrickr\">false</release>\n</identityMetadata>\n"
  recorded_at: Wed, 07 Jan 2015 00:20:57 GMT
recorded_with: VCR 2.9.3
