# Copied from common-accessioning config/environments

cert_dir = File.join(File.dirname(__FILE__), ".", "certs")

Dor::Config.configure do
  fedora do
    url 'https://dor.edu/fedora'
  end

  ssl do
    cert_file File.join(cert_dir,"robots-dor-dev.crt")
    key_file  File.join(cert_dir,"robots-dor-dev.key")
    key_pass  ''
  end

  suri do
    mint_ids true
    id_namespace 'druid'
    url 'https://suri-server'
    user ''
    pass ''
  end

  stacks do
    document_cache_host 'purl-dev.stanford.edu'
    local_workspace_root '/dor/workspace'
    local_stacks_root '/stacks'
    local_document_cache_root '/purl'
  end

  solr.url     'https://host/solr'
  workflow.url     'https://workflow.example.edu/'

  cleanup do
    local_workspace_root '/dor/workspace'
    local_export_home    '/dor/export'
  end
end
