# Copied from common-accessioning config/environments

cert_dir = File.join(File.dirname(__FILE__), ".", "certs")

Dor::Config.configure do
  fedora do
    url 'https://dor.edu/fedora'
  end

  ssl do
    cert_file File.join(cert_dir,"robots-dor-dev.crt")
    key_file  File.join(cert_dir,"robots-dor-dev.key")
    key_pass  ''
  end

  suri do
    mint_ids true
    id_namespace 'druid'
    url 'https://suri-server'
    user ''
    pass ''
  end

  metadata do
    exist.url   'http://server/exist/rest/'
    catalog.url 'http://lyberservices-prod.stanford.edu/catalog/mods'
  end

  stacks do
    document_cache_host 'purl-dev.stanford.edu'
    document_cache_user ''
    local_workspace_root '/dor/workspace'
    storage_root '/stacks'
    host 'host'
    user ''
    local_stacks_root '/stacks'
    local_document_cache_root '/purl'
  end

  solr.url     'https://host/solr'
  workflow.url     'https://host/workflow/'
  dor_services.url 'https://host/dor/v1'

  cleanup do
    local_workspace_root '/dor/workspace'
    local_export_home    '/dor/export'
  end

  sdr do
    local_workspace_root '/dor/workspace'
    local_export_home    '/dor/export'
    datastreams do
      contentMetadata      'required'
      descMetadata         'required'
      identityMetadata     'required'
      provenanceMetadata   'required'
      relationshipMetadata 'required'
      rightsMetadata 'optional'
      sourceMetadata 'optional'
    end
  end

  accessioning_robot_sleep_time 30

end
